.jumbotron {
  margin-top: 65px;
  margin-bottom: 0;
  height: 900px;
  background: url("../media/img/polio.jpg") no-repeat;
}

.jumbotron-clear {
  background: transparent;
  padding: 100px 0 0 0;
  height: 700px;
  margin: 0;
}

.jumbotron-clear .container {
  padding: 0 0 2px 0;
  margin: 0;
}

.box a,
.box a:focus,
.box a:hover {
  color: #FFF;
}

.vjs-default-skin .vjs-fullscreen-control,
.vjs-default-skin .vjs-volume-control,
.vjs-default-skin .vjs-mute-control {
  display: none;
}
