/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* VAG Rounded Thin */
@font-face {
    font-family: 'vagroundedthin';
    src: url('../fonts/vagrounded-thin-webfont.eot');
    src: url('../fonts/vagrounded-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vagrounded-thin-webfont.woff') format('woff'),
         url('../fonts/vagrounded-thin-webfont.ttf') format('truetype'),
         url('../fonts/vagrounded-thin-webfont.svg#vagroundedthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* VAG Rounded Light */
@font-face {
    font-family: 'vagroundedlight';
    src: url('../fonts/vagrounded-light-webfont.eot');
    src: url('../fonts/vagrounded-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vagrounded-light-webfont.woff') format('woff'),
         url('../fonts/vagrounded-light-webfont.ttf') format('truetype'),
         url('../fonts/vagrounded-light-webfont.svg#vagroundedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* VAG Rounded Bold */
@font-face {
    font-family: 'vagroundedbold';
    src: url('../fonts/vagrounded-bold-webfont.eot');
    src: url('../fonts/vagrounded-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vagrounded-bold-webfont.woff') format('woff'),
         url('../fonts/vagrounded-bold-webfont.ttf') format('truetype'),
         url('../fonts/vagrounded-bold-webfont.svg#vagroundedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* VAG Rounded Black */
@font-face {
    font-family: 'vagroundedblack';
    src: url('../fonts/vagrounded-black-webfont.eot');
    src: url('../fonts/vagrounded-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vagrounded-black-webfont.woff') format('woff'),
         url('../fonts/vagrounded-black-webfont.ttf') format('truetype'),
         url('../fonts/vagrounded-black-webfont.svg#vagroundedblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* BPReplay - Generic/Open version of VAG Rounded */
@font-face {
  font-family: 'BPReplay';
  src: url('../fonts/bpreplay.eot');
  src: url('../fonts/bpreplay.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bpreplay.woff') format('woff'),
       url('../fonts/bpreplay.ttf')  format('truetype'),
       url('../fonts/bpreplay.svg#svgFontName') format('svg');
}

/* BPReplayBold */
@font-face {
  font-family: 'BPReplayBold';
  src: url('../fonts/bpreplaybold.eot');
  src: url('../fonts/bpreplaybold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bpreplaybold.woff') format('woff'),
       url('../fonts/bpreplaybold.ttf')  format('truetype'),
       url('../fonts/bpreplaybold.svg#svgFontName') format('svg');
}

body {
  background: #eaefdf;
  background: url('../media/img/background_green_grid.png');
  font-family: 'vagroundedlight', Fallback, sans-serif;
  font-size: 1.4em;
  letter-spacing: -1px;
  line-height: 3.5em;
}

/* Primary headline graphic */
.jumbotron {
  margin-top: 240px;
  margin-bottom: 50px;
  height: 717px;
  background: url("../media/img/home_header.png") no-repeat;
  padding: 0;
}

.graphic-title {
  background: #b20934;
  border: 10px solid #f16e9a;
  color: #FFF;
  padding: 10px 50px 10px 75px;
  position: fixed;
  top: 50px;
  left: -10px;
}

h1 {
  font-family: 'vagroundedbold', Fallback, sans-serif;
}

/* Menu */

.choice-row-1,
.choice-row-2 {
  margin-bottom: 30px;
}

.box p {
  font-size: 3em;
  padding: 5%;
  border: 7px solid #e19632;
  border-radius: 15px;
  height: 350px;
  box-shadow: 0 4px 20px #999;
}

/* Click states for the menu choice boxes */
.box p.box-resting {
  background: #c3dae8;
}

.box p.box-active {
  background: #9ec3da;
  box-shadow: none;
}

.box a,
.box a:focus,
.box a:hover {
  color: #333;
  text-decoration: none;
  background-color: transparent;
}

.box a:active {
  color: #000;
}

.back {
  top: 1850px;
  left: 50px;
  background: #b20934;
  border: 10px solid #f16e9a;
  color: #FFF;
  padding: 10px 10px 50px 10px;
  position: fixed;
  font-size: 3em;
}


/*
 * Page container settings
 *
 * These are entirely specific to the 1080x1920 setup for this kiosk.
 *
 */
@media (min-width: 1080px) {
  .container {
    max-width: 1080px;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11 {
    float: left;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
}

/* Dev column indicators */
.odd {
  background: #EEE;
}
